<p>
	I'm a front-end web developer living in Portland, Oregon. Since 2013 I have worked at <a href="http://pollinate.com" target="blank">Pollinate</a>, producing visualizations for product customizer apps. Outside of work, I dabble in game design, procedural generation, and image processing techniques.
</p>

<p>
	hypothete.com has been my repository for web content since 2009. Most of the site is graphics experiments, games, software tools, and artwork. If you are interested in my work or just want to talk about an idea, you can reach me on <a href="http://twitter.com/Hypothete" target="blank">Twitter</a> or over <a href="mailto:duncan@hypothete.com">email</a>.
</p>
